@use '../../../styles/variables' as *;

.alerts-detail {
  width: 100%;
  border: 1px solid white;
  height: 150px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 1.2rem;
}

mat-icon {
  width: 35%;
  text-align: center;
}

.icon-detail {
  height: 100%;
  width: 30%;
  background-color: gray;
}

.text-detail {
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 1.2rem;
  p:last-child {
    color: $text-secondary-dark;
  }
}
